/* variaveis para serem usadas no código */
.root {
    --HoverTransition: 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
    --HoverOpacity: 0.6;
    --TextColor: #17171D;
    /* --MainColor: #ebac8b; */

    /* --MainColorLight: #ffff;
    --SecondaryColor: #e66b6e;
    --SecondaryColorLight: navajowhite;
    --LightGrayColor: #dedede;
        --primary: #EAA636;
        --secondary: #545454;
        --light: #FDF5EB;
        --dark: #1E1916; */
       
}
/* FONTE Titulos */
@font-face {
  font-family: 'MonteSerrat';
  src: url('./fonts/Montserrat-Bold.otf') format('opentype'); /* Use 'opentype' para OTF */
  font-weight: bold;
  font-style: normal; /* Defina font-style como normal para o formato bold */
}

/* Fonte Texto Corrido */
@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/MYRIADPRO-REGULAR.OTF') format('opentype'); /* Use 'opentype' para OTF */
  font-weight: normal;
  font-style: normal;
}

/* Estilizando os títulos */
h1, h2, h3, h4, h5 {
  font-family: 'MonteSerrat', sans-serif;
}

/* Estilizando os parágrafos */
p, li, a {
  font-family: 'MyriadPro', sans-serif;
  font-weight: normal; /* Regular */
}

/* Exemplo de uso das variações */
.light-text {
  font-family: 'MyriadPro', sans-serif;
  font-weight: 300; /* Light */
}

.bold-text {
  font-family: 'MyriadPro', sans-serif;
  font-weight: bold; /* Bold */
}

.h2-color, .h3-color {
  color: var(--TextAdmColor);
}


/* Definindo MyriadPro Light */
@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/MyriadPro-Light.otf') format('opentype');
  font-weight: 300;  /* Light */
  font-style: normal;
}

/* Definindo MyriadPro Bold */
@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Definindo outras variações de MyriadPro conforme necessário */
@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/MYRIADPRO-BOLDCOND.OTF') format('opentype');
  font-weight: bold;
  font-style: condensed;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('./fonts/MYRIADPRO-BOLDCONDIT.OTF') format('opentype');
  font-weight: bold;
  font-style: italic condensed;
}


body, a{
  font-family:'MyriadPro';

}


/* Cookie */ 

#cookieConsent {
  background: rgba(20, 20, 20, 0.8);
  display: none;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  position: fixed;
  bottom: 30px;
  width: 100%;
  left: 0;
  z-index: 9999;
  text-align: center;
}

#cookieConsent a {
  color: #ffcc00;
  text-decoration: none;
}

#closeCookieConsent {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

#acceptCookie {
  background: #ffcc00;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
}


/* Estilos para itens de navegação */
.navbar-nav {
    margin-left: auto; /* Alinha os itens de navegação à direita */
}

.nav-item {
    margin-right: 2.5rem; /* Ajuste o valor conforme necessário */
}

.nav-link{
    color: var(--TextColor) !important;

}

/* Remover margem do último item */
.navbar-nav .nav-item:last-child {
    margin-right: 0;
}

/* Area do Condomino */

.hoverCondomino .nav-link {
    color: aliceblue !important;
}

/* Estilos para o link quando está sendo "hovered" */
.hoverCondomino .nav-link:hover {
    background-color: #0295ff;
    
}

/* Icon WhatsApp */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateY(-50%);
  background-color: #25D366; /* WhatsApp green color */
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s;
}

.whatsapp-icon:hover {
  background-color: #1ebe57; /* Slightly darker green for hover */
}



/* Controle de reponsividade da navbar */

@media (max-width: 900px) {
    .controller-logo-mobile{
    display: block !important;
    opacity: 1 !important;
    position: relative;
    margin: 0 auto;}}

.logo > img{
    /* border-radius: 10%; */
    width: 70%;
    height: 100%; /* Espaçamento à direita para separar o logotipo dos outros links */
}

/* Slideshow */

/* Slideshow container */
.slideshow {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  padding-bottom: 30.44%; /* ASPECTO 16:9 */
  overflow: hidden; /* Esconde repetição fora da div*/
  z-index: 1;
}

/* Each slide */
.slideshow li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Span inside each slide */
.slideshow li span {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain; /* Adjust this to maintain aspect ratio */
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


/* Slide backgrounds */
.slideshow li:nth-child(1) span {
  background-image: url('./src/img/banner1.jpg');
}
.slideshow li:nth-child(2) span {
  background-image: url('./src/img/banner2.jpg');
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url('./src/img/banner3.jpg');
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url('./src/img/banner4.jpg');
  animation-delay: 18s;
}

/* Add animations */
.slideshow li:nth-child(1) span { animation: imageAnimation 24s linear infinite 0s; }
.slideshow li:nth-child(2) span { animation: imageAnimation 24s linear infinite 6s; }
.slideshow li:nth-child(3) span { animation: imageAnimation 24s linear infinite 12s; }
.slideshow li:nth-child(4) span { animation: imageAnimation 24s linear infinite 18s; }

@keyframes imageAnimation {
  0%, 20%, 100% { opacity: 0; }
  5%, 15% { opacity: 1; }
}

@keyframes titleAnimation {
  0%, 20%, 100% { opacity: 0; }
  5%, 15% { opacity: 1; }
}

@media only screen and (min-width: 1400px) {
  .slideshow {
    
  }

  .slideshow li span {
    background-size: cover; /* Cobrir o container */
   
  }
}

.no-cssanimations .slideshow li span { opacity: 1; }
/* 
animação no celular */
@media only screen and (max-width: 900px) {
  .slideshow {
    padding-bottom: 100%; 
  }

  .slideshow li span {
    background-size: cover; /* Adjust if needed */
  }

  .slideshow li:nth-child(1) span {
    background-image: url('./src/img/logocelular.jpg'); 
  }
  .slideshow li:nth-child(2) span {
    background-image: url('./src/img/logocelular4.jpg'); 
    animation-delay: 6s;
  }
  .slideshow li:nth-child(3) span {
    background-image: url('./src/img/logocelular1.jpg'); 
    animation-delay: 12s;
  }
  .slideshow li:nth-child(4) span {
    background-image: url('./src/img/logocelular2.jpg'); 
    animation-delay: 18s;
  }
}
/* Animação para telas maiores que 1400px */



 @-webkit-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
imageAnimation {  0% {
 opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -moz-animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
imageAnimation {  0% {
 opacity: 0;
 -webkit-animation-timing-function: ease-in;
 -moz-animation-timing-function: ease-in;
 animation-timing-function: ease-in;
}
 12.5% {
 opacity: 1;
 -webkit-animation-timing-function: ease-out;
 -moz-animation-timing-function: ease-out;
 animation-timing-function: ease-out;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-webkit-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@-moz-keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}
@keyframes 
titleAnimation {  0% {
 opacity: 0;
}
 12.5% {
 opacity: 1;
}
 25% {
 opacity: 1;
}
 37.5% {
 opacity: 0;
}
 100% {
 opacity: 0;
}
}

.no-cssanimations .slideshow li span { opacity: 1; }




/* 
Footer */

.footer-59391 {
    border-top: 1px solid #efefef;
    background: linear-gradient(180deg, #4400b4, #4d00c3, #1a0068);
    padding: 4rem 0; }
    .footer-59391 .site-logo a {
      display: block;
      width: 100%;
      height: auto;
      text-align: center; /* Center the logo */
    text-decoration: none; }
    .footer-59391 .site-logo img {
      max-width: 100%;
      height: auto; /* Maintain aspect ratio */
      display: block;
      
  }
    .footer-59391 .nav-links li {
      display: inline-block; }
      .footer-59391 .nav-links li a {
        color: #fff;
        padding: 10px;
        text-decoration: none;
     }
        .footer-59391 .nav-links li a:hover {
          color: #3e64ff; }
    .footer-59391 .nav-links.nav-left li:first-child {
      padding-left: 0; }
    .footer-59391 .nav-links.nav-right li:last-child {
      padding-right: 0; }
    .footer-59391 .copyright {
      border-top: 1px solid #efefef;
      padding-top: 50px;
      text-align: center;
      color: #777; }
    .footer-59391 .subscribe .form-group {
      margin-bottom: 0;
      padding-bottom: 0;
      position: relative; }
      .footer-59391 .subscribe .form-group input[type="email"] {
        height: 45px;
        border: none;
        background: #e6e6e6; }
        .footer-59391 .subscribe .form-group input[type="email"]:focus, .footer-59391 .subscribe .form-group input[type="email"]:active {
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none; }
        .footer-59391 .subscribe .form-group input[type="email"]::-webkit-input-placeholder {
          color: #b3b3b3;
          font-size: 14px; }
        .footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
          color: #b3b3b3;
          font-size: 14px; }
        .footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
          color: #b3b3b3;
          font-size: 14px; }
        .footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
          color: #b3b3b3;
          font-size: 14px; }
      .footer-59391 .subscribe .form-group button {
        position: absolute;
        border: none;
        background: none;
        font-size: 1.5rem;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        top: .5rem;
        right: .3rem;
        line-height: 0; }
        .footer-59391 .subscribe .form-group button:focus, .footer-59391 .subscribe .form-group button:active {
          outline: none; }
    .footer-59391 .social li {
      display: inline-block;
      position: relative;
      margin: 0 10px; /* Adjust the value as needed for more spacing */
    justify-content: center; }
      .footer-59391 .social li a {
        position: relative;
        /* color: #000; Cor dos ícones */
      font-size: 2rem; /* Tamanho dos ícones */
      transition: color 0.3s;
        border-radius: 50%;
        /* display: inline-block; */
        margin: 0;
        padding: 0;
        /* background-color: #e6e6e6; */
        /* color: #333333; } */}
        .footer-59391 .social li a > span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .footer-59391 .social li a:hover {
          color: #3e64ff; }
  
  .footer-95942 {
    padding: 7rem 0;
    font-family: "Poppins", sans-serif; }
    .footer-95942 .nav-links li {
      display: block;
      margin-bottom: 10px; }
      .footer-95942 .nav-links li a {
        font-size: 14px;
        color: #777; }
        .footer-95942 .nav-links li a:hover {
          color: #4200ff; }
    .footer-95942 .social.app {
      font-size: 13px; }
    .footer-95942 .social li {
      display: inline-block; }
      .footer-95942 .social li a {
        display: inline-block;
        padding: 10px;
        color: #ccc; }
        .footer-95942 .social li a:hover {
          color: #4200ff; }
    .footer-95942 .social.nav-left li:first-child a {
      padding-left: 0px; }
    .footer-95942 .social.nav-right li:last-child a {
      padding-right: 0px; }
    .footer-95942 h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px; }
  
  .footer-48201 {
    padding: 7rem 0;
    background-color: #000;
    color: #777; }
    .footer-48201 .footer-site-logo {
      font-size: 1.5rem;
      color: #fff; }
    .footer-48201 .nav-links li {
      margin-bottom: 10px; }
      .footer-48201 .nav-links li a {
        color: gray; }
        .footer-48201 .nav-links li a:hover {
          color: #fff; }
    .footer-48201 .btn.btn-tertiary {
      background-color: #e42c64;
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px; }
    .footer-48201 .social li {
      display: inline-block; }
      .footer-48201 .social li a {
        color: gray;
        padding: 7px; }
        .footer-48201 .social li a:hover {
          color: #fff; }
    .footer-48201 .copyright {
      border-top: 1px solid #404040; }
  
  .footer-99382 {
    padding: 7rem 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #777;
    position: relative;
    font-family: "Poppins", sans-serif; }
    .footer-99382:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); }
    .footer-99382 h3 {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 30px; }
    .footer-99382 .footer-site-logo {
      font-size: 1.5rem;
      color: #fff; }
    .footer-99382 .nav-links li {
      margin-bottom: 10px; }
      .footer-99382 .nav-links li a {
        color: #999999; }
        .footer-99382 .nav-links li a:hover {
          color: #fff; }
    .footer-99382 .btn.btn-tertiary {
      background-color: #e42c64;
      color: #fff;
      border-radius: 30px;
      border: none;
      padding: 10px 20px; }
    .footer-99382 .social li {
      display: inline-block;
      margin-right: 1rem; }
      .footer-99382 .social li a {
        color: #000; /* Cor dos ícones */
        font-size: 1.5rem; /* Tamanho dos ícones */
        transition: color 0.3s; }
        .footer-99382 .social li a:hover {
          color: #007bff; /* Cor ao passar o mouse */ }
    .footer-99382 .copyright {
      border-top: 1px solid #595959; }
  
  .footer-16371 {
    padding: 7rem 0;
    font-family: "Poppins", sans-serif; }
    .footer-16371 .footer-site-logo {
      text-align: center;
      font-size: 2rem;
      font-weight: 900;
    text-decoration: none; }
      .footer-16371 .footer-site-logo a {
        color: #4200ff; }
    .footer-16371 .nav-links {
      padding: 0;
      margin: 0; }
      .footer-16371 .nav-links li {
        display: inline-block; }
        .footer-16371 .nav-links li a {
          padding: 10px;
          color: #000; }
          .footer-16371 .nav-links li a:hover {
            color: #4200ff; }
    .footer-16371 .social h3 {
      font-weight: bold;
      font-size: 18px;
      color: #000; }
    .footer-16371 .social ul li {
      display: inline-block; }
      .footer-16371 .social ul li a {
        display: inline-block;
        padding: 10px; }
      .footer-16371 .social ul li.in a {
        color: #df588a; }
      .footer-16371 .social ul li.tw a {
        color: #15b8ff; }
      .footer-16371 .social ul li.fb a {
        color: #3742d0; }
      .footer-16371 .social ul li.dr a {
        color: #fa38c1; }
      .footer-16371 .social ul li.pin a {
        color: #dd4d5a; }
    .footer-16371 .copyright {
      color: #999999; }
  
  .footer-39201 {
    padding: 7rem 0;
    color: #9d9d9d; }
    .footer-39201 .subscribe {
      position: relative; }
      .footer-39201 .subscribe .form-control {
        background-color: #e6e6e6;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 30px;
        height: 50px;
        padding-left: 30px;
        padding-right: 130px;
        border: none;
        color: #000; }
        .footer-39201 .subscribe .form-control::-webkit-input-placeholder {
          color: #b3b3b3;
          font-style: italic;
          font-size: 14px; }
        .footer-39201 .subscribe .form-control::-moz-placeholder {
          color: #b3b3b3;
          font-style: italic;
          font-size: 14px; }
        .footer-39201 .subscribe .form-control:-ms-input-placeholder {
          color: #b3b3b3;
          font-style: italic;
          font-size: 14px; }
        .footer-39201 .subscribe .form-control:-moz-placeholder {
          color: #b3b3b3;
          font-style: italic;
          font-size: 14px; }
      .footer-39201 .subscribe .btn-submit {
        background: #614ad3;
        height: 40px;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 5px;
        right: 5px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
    .footer-39201 h3 {
      font-size: 16px;
      font-weight: 900;
      color: #000;
      margin-bottom: 20px; }
    .footer-39201 .nav-links li {
      display: block;
      margin-bottom: 10px; }
      .footer-39201 .nav-links li a {
        color: #9d9d9d; }
        .footer-39201 .nav-links li a:hover {
          color: #614ad3; }
    .footer-39201 .social li {
      display: inline-block; }
      .footer-39201 .social li a {
        display: inline-block;
        padding: 10px;
        color: #9d9d9d; }
        .footer-39201 .social li a:hover {
          color: #614ad3; }

/* 
creditos */

.belforz {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  
}

.belforz:hover {
  opacity: 0.7;  /* Restaura a opacidade total quando o link é focado/hover */
}

.small-text {
  font-size: 0.8em;
  opacity: 0.7;  /* Define a opacidade do texto */
}


@media(min-width:900px){
    .logo{
        margin-left:4rem;
    }
}

/* Estilos para a logo em telas menores que 900px */
@media (max-width: 900px) {
    .adjust-li {
        margin-left: 5% !important;
    }
}
