.root{
--TextAdmColor: #ef4523;
}

/* FONTS */


/* Estilizando os títulos */
h1, h2, h3, h4, h5 {
    font-family: 'NovaProximaFont';
}

/* Estilizando os parágrafos */
p , li, a{
    font-family: 'MyriadPro', sans-serif;
    font-weight: normal; /* Regular */
}

/* Exemplo de uso das variações */
.light-text {
    font-family: 'MyriadPro';
    font-weight: 300; /* Light */
}

.bold-text {
    font-family: 'MyriadPro', sans-serif;
    font-weight: bold; /* Bold */
}
.h2-color ,.h3-color {
    color: var(--TextAdmColor);
}



/* Camada controle */
.hidden{
    display: none;
}

.image-controller {
    position: relative;
    width: 100%;
    height: auto;
}
.image-fundo {
    width: 100%;
    height: auto;
    display: block;
}

/* Controle reponsividade */
@media (max-width:900px){
.image-fundo{
    display: none;}
    .image-fundo-s{
        display: none;
    }
.image-fundo-mobile{
    display: flex;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Isso vai garantir que a imagem se ajuste sem ser ampliada */

}
}


@media(max-width:900px){
#engbannerfront, 
#engbannerback{
    display: none;
}
@media (max-width:900px){
    .container-xxl{
        display: block;
    }
}
}
/* 
Bolinha Lista */
ol {
    list-style-type: none; /* Remove os números padrão */
}

.bullet, .bullet-eng, .bullet-vi {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.bullet {
    background-color: #ef4523; /* Cor adm */
}

.bullet-eng {
    background-color: #00FFFF; /* Cor engenharia */
}

.bullet-vi {
    background-color: #160063; /* Cor missao */
}



/* Texto mobile */
.text-container {
    background-color: #f8f9fa;
    color: #343a40;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    text-align: left;
}
.text-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.text-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

@media (max-width: 900px){
    .hidden{
        display: block;
    }
}

@media (max-width: 768px) {
    .text-container {
        padding: 15px;
    }
    .text-container p {
        font-size: 14px;
    }
    .text-container h2 {
        font-size: 20px;
    }
}